<form action="/login" method="post">
  <div class="form-group">
    <label for="username" class="form-control" id="exampleInputUsername1" aria-describedby="usernameHelp" placeholder="Enter username">Username: </label>
    <input type="text" name="username" id="username" />
  </div><br />
  <div class"form-group">
    <label for="password" class="form-control" id="exampleInputPassword1" aria-describedby="passwordHelp" placeholder="Enter password">Password: </label>
    <input type="password" name="password" id="password" />
  </div><br />
  <div class="form-group">
    <input type="submit" value="Log In" class"form-control" id="exapmleInputSubmit1" aria-describedby="submitHelp" placeholder="submit"/>
  <a href="/register">Register</a>
  </div>
</form>
